.body-content{
    min-height: calc(100vh - 58px);
    margin-top: 58px;
}

.home-content{
    .hero-part{
        //background: #000;
        background: url('../assets/bg.jpg') center center no-repeat;
        width: 100%;
        height: calc(100vh - 58px);
        background-size: cover;
        filter: grayscale(0.5);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(-45deg, 
            #da4b4bbd, 
            rgba(43, 26, 201, 0.438), 
            #da4b4bbd);
        }

        .text-part{
            position: relative;
            z-index: 1;
            color: #FFF;
            border: 5px solid #FFF;
            padding: 30px;
            backface-visibility: hidden;
            
            h1{
                font-weight: 300;
                font-size: 5em;
                margin: 0;
                line-height: 1;
                margin: 0 0 10px;
                backface-visibility: hidden;
            }

            p{
                text-align: center;
                margin: 0;
                line-height: 1;
                font-weight: 300;
                backface-visibility: hidden;
            }
        }
    }

    .content-part{
        max-width: 1200px;
        padding: 10px;
        margin: 30px auto;

        .divider{
            margin: 80px auto;
            height: 1px;
            background: #DDD;
            max-width: 300px;
        }

        .command{
            margin: 0;
            line-height: 1;
            font-size: 0.7em;
            font-style: italic;
            color: $grey;
            font-weight: normal;
        }

        .redbar{
            overflow: hidden;
            margin: 10px 0;

            h1{
                display: inline-block;
                position: relative;
                margin: 0;
                margin-top: 6px;
                padding-bottom: 3px;

                &:before{
                    content: "";
                    display: block;
                    width: 4px;
                    height: calc(150% + 20px);
                    background: $red;
                    position: absolute;
                    left: calc(100% + 15px);
                    top: -20px;
                    transform: rotate(20deg);
                }
        
                &:after{
                    content: "";
                    display: block;
                    width: 4px;
                    height: calc(150% + 20px);
                    background: $red;
                    position: absolute;
                    left: calc(100% + 23px);
                    top: -20px;
                    transform: rotate(20deg);
                }
            }
        }

        .icons{
            display: flex;
            justify-content: space-around;
            margin: 50px 0 0;
            flex-wrap: wrap;

            .side{
                display: flex;
                flex-wrap: wrap;

                i{
                    font-size: 5.5em;
                    margin: 0 20px;
                    color: rgb(235, 235, 235);
                }
            }
        }

        h1{
            font-weight: 300;
            line-height: 1;
            margin-top: 10px;
        }

        h2{
            font-weight: 300;
            line-height: 1;
            margin: 10px 0;
        }

        h3{
            font-weight: 300;
        }

        p{
            font-weight: 300;
        }

        .selectors{
            display: flex;
            margin: 30px -10px 40px;

            .select-box{
                width: 50%;
                background: rgb(243, 243, 243);
                margin: 0 10px;
                padding: 10px;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.25s all $cubic;
                backface-visibility: hidden;
                border: 1px solid rgb(185, 185, 185);
                overflow: hidden;
                position: relative;

                i{
                    position: absolute;
                    font-size: 100px;
                    top: 50%;
                    right: 3%;
                    transform: rotate(30deg) translateY(-50%);
                    opacity: 0.2;
                }

                &.active{
                    background: $red;
                    color: #FFF;
                    transform: scale(1);
                    border: 1px solid darken($red, 10%);

                    &:hover{
                        transform: scale(1);
                    }

                    .command{
                        color: #FFF;
                    }
                }

                &:hover{
                    transform: scale(1.05);
                }

                h2{
                    line-height: 1;
                    font-weight: 300;
                    font-size: 1.8em;
                    margin: 10px 0 0;
                }

                p{
                    margin: 0;
                    line-height: 1;
                }
            }
        }
    }

    .projects{
        .home-item{
            display: flex;
            margin: 0 0 20px;
            border: 1px solid rgb(233, 233, 233);
            padding: 10px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            transition: 0.25s all $cubic;
            cursor: pointer;

            &:hover{
                transform: scale(1.03);

                &:before, &:after{
                    background: $red;
                }
            }

            &:before, &:after{
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 20px;
                background: rgb(238, 238, 238);
                transform: rotate(35deg);
                transition: 0.25s all;
            }

            &:before{
                bottom: -15%;
            }

            &:after{
                right: 3%;
                bottom: -15%;
            }

            .image{
                width: 350px;
                border-radius: 5px;
                overflow: hidden;

                img{
                    display: block;
                }
            }

            .rightside{
                width: calc(100% - 350px);
                padding: 0 20px;

                h3{
                    margin: 0;
                    font-weight: 300;
                }
            }
        }
    }
    
    .link-browse{
        display: block;
        background: $red;
        color: #FFF;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        transition: 0.25s all $cubic;
        font-weight: 300;
        max-width: 300px;
        margin: 0 auto;

        &:hover{
            transform: scale(1.1);
        }

        &:active{
            transform: scale(0.95);
        }
    }

    .split-proficiencies{
        margin-top: 30px;
        display: flex;

        .prof-list{
            width: 30%;

            h2{

            }

            ul{
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0;

                li{
                    padding: 8px 20px;
                    margin: 0 2px 4px;
                    background: $red;
                    line-height: 1;
                    border-radius: 5px;
                    color: #FFF;
                    font-size: 0.8em;
                }
            }
        }

        .confidence-charts{
            width: 70%;
            padding: 30px 0 0 30px;

            .conf-item{
                margin: 0 0 10px;
                position: relative;
            }

            .conf-name{
                font-size: 0.8em;
                margin: 0 0 5px;
            } 
            
            .conf-value{
                &.val{
                    &-100{max-width: 100%;}
                    &-90{max-width: 90%;}
                    &-80{max-width: 80%;}
                    &-70{max-width: 70%;}
                    &-60{max-width: 60%;}
                    &-50{max-width: 50%;}
                    &-40{max-width: 40%;}
                    &-30{max-width: 30%;}
                }
            }
        }
    }
}

.image{
    .loading{
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
        width: 100%;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        &:before{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: #e9e9e9;
        }

        @keyframes moveloader{
            from{
                left: -10%
            }

            to{
                left: 100%;
            }
        }

        &:after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 10%;
            height: 5px;
            background: $red;
            animation: moveloader 1s linear infinite;
        }
    }
}